.popUpWrapper{
    position: fixed;

    min-width: 230px;
    min-height: 50px;

    display: flex;
    align-content: flex-start;


    background-color: #dbdbdb;
    border-radius: 5px;

    box-shadow: 0 0 1px #222222;
}

.popUpButtonContainer{
    display: flex;
    justify-content: space-between;
}