.resultBackground{
    position: fixed;
    visibility: visible;

    height: 100%;
    z-index: 100;

    background: rgba(34, 34, 34, 0.75);
}

.closeButton{
    margin: 2px;
    display: flex;
    align-self: flex-end;

    padding: 5px 25px;
    background: #ff122d;
    border-radius: 2px;
    border: 1px solid #ec5f47;
    cursor: pointer;
    color: #FAFAFA;
}

.closeButton:hover{
    background: #ff3c52;
}


.resultContainer{
    margin: 50px auto auto;
    width: 85%;

    background-color: #FAFAFA;
    border-radius: 5px;

    box-shadow: 0 0 1px #222222;

}

.line1{
    display: flex;
    justify-content: flex-end;
}

.line2, .line3{
    margin: auto auto 10px;
    width: 90%;
}

.line2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#headline{
    width: 49%;
    min-width: 230px;
}

.infoText{
    width: 50%;
    margin: auto auto 10px;

    display: flex;
    flex-wrap: wrap;
}

.infoText span{
    min-width: 250px;
    margin: 1px 0;
}


.text{
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;

    width: 90%;
    padding-bottom: 10px;

    overflow: auto;
}

.text p{
    margin: 0 10px;
}

